<html>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--For responsive html-->
        <div class = 'header'>
        <head>
        <link rel="stylesheet" href="/css/create.css" />
        <title>S381F Project Create New Restaurants</title>
        <h1>Restaurants</h1>
        <h2 class = 'userDetail'>Create New Restaurant</h2>
        <button onclick="location.href='/doLogout'" id='logout'>Logout</button>
        </head>
        </div>
        <body>
            <div class="form-style-6">
            <form action="/doCreateRestaurants" method="post" enctype='multipart/form-data'>
                Name: <input type="text" name="name" required><br>
                Borough: <input type="text" name="borough"><br>
                Cuisine: <input type="text" name="cuisine"><br>
                Street: <input type="text" name="street"><br>
                Building: <input type="text" name="building"><br>
                Zipcode: <input type="text" name="zipcode"><br>
                GPS Coordinates (lon.): <input type="text" name="coordLon"><br>
                GPS Coordinates (lat.): <input type="text" name="coordLat"><br>
                <input type="hidden" name='userid' value=<%=userid%>>
                Photos: <input type="file" name="filetoupload" accept="image/*"><br>
                <input type="submit" value="Create">
            </form>
            <button onclick="goBack()">Go Back</button>
            <script>
                    function goBack() {
                        window.history.back();
                    }
            </script>
            <div class="form-style-6"></div>
        </body>
    </html>