<html>     
        <head>
            <title><%=title%> Location</title>
            <link rel="stylesheet" type="text/css" href="layout.css">
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjp744cZVCXbA67dH5D4pmWpDkUxA1Dz4&callback=myMap"></script>
            <script type="text/javascript">
                var loadMap = function () {
                    var myLatLng = { lat: <%=lat%>, lng: <%=lon%>};
                    var map = new google.maps.Map(document.getElementById("map"), {
                        zoom: 50,
                        center: myLatLng
                    });
                    var map = new google.maps.Marker({
                        position: myLatLng,
                        map: map,
                        title: '<%=title%>'
                    });
                };
                window.onload = loadMap;
            </script>
        </head>
        <body>
            <div id="map" style="width:100%;height:100%;">
        </body>
</html>