<html>
    <head>
    <link rel="stylesheet" type="text/css" href="/views/login.css">
    <title>S381F Project</title>
    </head>
    <body>
        <div class ='login-page'>
        <h1>Login Page</h1>
        <div class = "form">
        <form action = '/doLogin' mehtod = 'post'>
            User Name: <input type = 'text' name = 'userid'><br>
            Password: <input type = 'password' name = 'password'><br>
            <input type = 'submit' value = 'Login' >
            <input type = 'submit' value = 'Register' formaction='/register'>
        </form>
    </body>
</html>
