.header {
    background: grey;
    height: 30%;
    vertical-align: middle;
    text-align:center;
    top: 0;
    left: 0;
    padding:auto;
}

.userDetail{
    color: white;
    line-height: 300px;
}
nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px; 
}
footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}
li.nostyle {
    list-style-type: none;
}